{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
<img class="portrait" alt="portrait1" src="{{ url_for('static', filename='assets/images/portraitx.jpg') }}" width="150" height="150" />
<h1>Hello!</h1>
<div class="about">
	<p>My name is Anthony. I'm a Pythonista in the making --a FutureDev-- !</p>

	<p><strong>The backstory:</strong> In my former life I was a humanities nerd, studying Rhetoric in the Cultural Studies PhD track at the University of London. There, I spent most of my time researching and writing about postcolonial reason and jurisprudence, ethics, and contemporary media texts and practices. I absolutely loved the community that I was a part of and was passionate about the work I was producing, for which I was recognized by the Centre (for Cultural Studies, Goldsmiths).</p>
	<p>to be written later... ut in 2008 the ground shifted as the economy slid into recession, and an already tight academic job market began to suffer a squeeze unlike anything I'd ever seen. I had just finished the MA portion of my program, and knew that I had to make a decision about whether to continue or move on to something else.  I took some time and came to the following conclusions: I'm not willing to roll the dice on a 14% lifetime tenure-track placement rate for humanities graduates; I want to have a say in were I live; and I don't want to give up the chance to have a family of my own (an unspoken near-rule for female academics).</p>
	<p><strong>Someday soon I will put a strike through the "future" part, but for now.....</strong></p>
	<p>to be written later... </p>
	<p><strong>The blog</strong></p>
	<p>Showing one's 'newbieness' is probably the scariest part about entering the tech world. I wanted to start a blog months ago, but I'm only just learning to get over the part of me that has too much pride to make mistakes in front of others. I'm undoubtedly going to make mistakes here.</p>
</div>
{% endblock content %}
